@import "../../node_modules/purecss/build/pure.css";

body {
  background: #121212;
  font-size: 16px;
}

.logo {
  width: 70%;
}

.content {
  padding: 10px;
}

.content-customers {
  background: #121212;
}

.splash-container {
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 88%;
  top: 0;
  left: 0;
  position: fixed !important;
  color: #FAFAFA;
}

.splash {
  width: 80%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 100px; left: 0; bottom: 0; right: 0;
  text-align: center;
  text-transform: uppercase;
}

.content-wrapper {
  position: absolute;
  top: 87%;
  width: 100%;
  min-height: 12%;
  z-index: 2;
  background: #FAFAFA;
}

.customers .image-row {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.customers .image-row .image-container {
  background: #333333;
  width: 100%;
  height: 200px;
  margin: 10px;
}


.contacts {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.contact {
  height: 100px;
  width: 100px;
  background: #121212;
  margin: 10px;
  border-radius: 50px;
}

.sub-division .sub-division-inner {
  margin: 10px;
}

.sub-division-inner .image-container {
  padding-bottom: 70%;
  background: #333333;
  width: 100%;
}
