@import url(../../node_modules/purecss/build/pure-min.css);
@import url(../../node_modules/@fortawesome/fontawesome-free/css/all.min.css);

@import 'fonts';
@import 'default';

.separator {
  display: inline-block;

  &.bright-text {
    color: #DDDDDD;
  }
}

.splash-container {
  z-index: 1;
  overflow: hidden;
  width: 100%;
  padding-bottom: 56.25%;
  top: 0;
  left: 0;
  position: fixed !important;
  color: #FAFAFA;
  background-image: url('../images/background.jpg');
  background-size: contain;

  .splash {
    width: 100%;
    padding-bottom: 56.25%;

    #logo-overlay {
      position: fixed;
      width: 100%;
      padding-bottom: 56.25%;
      background-image: url('../images/splash-logo-overlay.svg');
      background-size: 100%;
      opacity: 0;
      transition: opacity 350ms ease-in-out;

      &.visible {
        opacity: 1;
      }
    }

    #intro-video {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      opacity: 0;
      transition: opacity 350ms ease-in-out;

      &.visible {
        opacity: 1;
      }
    }
  }
}

.content-wrapper {
  position: relative;
  width: 100%;
  min-height: 12%;
  z-index: 2;

  .spacer {
    width: 100%;
    padding-bottom: 56.25%;
  }

  .content {
    padding: 10px;
    background-color: #FAFAFA;
  }

  .sub-division {
    .sub-division-inner {
      margin: 10px;

      h4 {
        color: #333333;
      }

      .image-container {
        padding-bottom: 70%;
        background: #333333;
        width: 100%;
      }
    }
  }

  .content-customers {
    background: #121212;

    .customers {
      .image-row {
        flex: 1;
        display: flex;
        flex-direction: row;

        .image-container {
          background: #333333;
          width: 100%;
          height: 200px;
          margin: 10px;
        }
      }
    }
  }

  .content-contacts {
    .contacts {
      display: flex;
      padding-top: 2rem;
      padding-bottom: 2rem;
      justify-content: center;

      .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(20% - 2rem);
        max-width: 250px;
        margin: 0 1rem;
        border: 1px solid #DDDDDD;
        position: relative;

        &:before {
          content: '';
          width: 100%;
          border-bottom: 1px solid #DDDDDD;
          position: absolute;
          top: calc((100px / 2) + 1rem);
        }

        .image {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          margin-top: 1rem;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          z-index: 2;
          position: relative;

          &.ch {
            background-image: url('../images/employees/ch.png');
          }

          &.ci {
            background-image: url('../images/employees/ci.png');
          }

          &.jh {
            background-image: url('../images/employees/jh.png');
          }

          &.mr {
            background-image: url('../images/employees/mr.png');
          }

          &.jp {
            background-image: url('../images/employees/jp.png');
          }
        }

        h6 {
          margin-bottom: .25rem;
        }

        .mail-phone-wrapper {
          display: flex;
          justify-content: center;
          margin-top: 1.2rem;
          margin-bottom: .8rem;

          .mail,
          .phone {
            cursor: pointer;
            display: flex;
            width: 30px;
            height: 30px;
            color: #DDDDDD;
            margin: 0 .5rem;
            border-radius: 50%;
            border: 2px solid #DDDDDD;
            justify-content: center;
            align-items: center;
            transition: all 150ms ease-in-out;

            &:hover {
              cursor: pointer;
              color: #333333;
              border-color: #333333;
              transition: all 150ms ease-in-out;
            }
          }
        }
      }
    }
  }

  footer {
    background: #333333;
    color: #FAFAFA;
    padding: 1rem;
    box-shadow: inset 0px 2px 8px 0px #121212;

    a {
      color: #FAFAFA;
      text-decoration: none;

      &:hover {
        color: #DDDDDD;
      }
    }

    .footer {
      display: flex;
      justify-content: center;
      align-items: center;

      .copyright,
      .logo-container,
      .links {
        text-align: center;
      }

      .logo-container {
        .logo {
          width: 64px;

          &:hover {
            animation: pulse 2s ease-out forwards;
          }
        }
      }
    }
  }
}

#slide-out-container {
  width: 200px;
  background: #FAFAFA;
  color: #121212;
  position: fixed;
  right: -260px;
  bottom: 20%;
  z-index: 100;
  padding: 20px;
  transition: all 200ms cubic-bezier(0.65, 0.05, 0.36, 1);
  transform: translateZ(0);
  box-shadow: 0 0 0px 0 #000000, 0 0 20px 0px #000000;

  &.visible {
    right: 0;
  }

  h4 {
    margin-top: 0;
  }

  &:hover {
    background: #FBFBFB;
    box-shadow: 0 0 10px 0 #000000, 0 0 20px 0px #000000;
  }

  .contact-item {
    display: inline-block;
    width: 100%;
    padding: 4px;

    .fa {
      margin-right: 6px;
    }
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
